.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.input-field label {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #2e3238;
}

.required-asterisk {
    color: #b21f00;
}

.input-block {
    display: flex;
    column-gap: 4px;
    width: 100%;
}

.input-block input {
    width: 100%;
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 6px 8px;
    background: #fcfcfd;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #2e3238;
}

.search-btn {
    cursor: pointer;
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    padding: 5px 6px;
    background: #fff;
}
