.task-form {
    width: calc(100% - 64px);
    position: relative;
    margin-left: 64px;
}

.form-content {
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.from-content-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #2e3238;
}

.form-content-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 16px;
}

.form-content-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.form-footer {
    display: flex;
    width: 100%;
    gap: 16px;
}

@media (max-width: 991px) {
    .form-content-top {
        flex-direction: column;
    }
    .form-footer {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .task-form {
        width: 100%;
        margin-left: 0;
    }
    .from-content-title {
        font-size: 20px;
        line-height: 120%;
    }
}
